.photo-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
  align-content: center;
}

.photo-item {
  cursor: zoom-in;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hover-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop image to fit in square */
  aspect-ratio: 1 / 1; /* Maintain square ratio */
  transition: filter 0.3s ease;
}

.hover-image:hover {
  filter: none; /* Remove grayscale on hover */
}

.grayscale {
  filter: grayscale(100%);
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

.fullscreen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 95%;
  max-height: 95%;
}

.fullscreen-content img {
  max-width: 100%;
  max-height: 90vh;
  margin-bottom: 1rem;
}

.fullscreen-caption {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.5rem;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.22ch;
}

.typewriter-effect {
  border-right: 2px solid #fff;
  animation: typing steps(30, end) forwards; /* Adjust steps for speed */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: var(--caption-width); /* Use CSS variable to control width */
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Display two photos per row on mobile */
    gap: 0; /* Add some space between photos */
  }

  .grayscale {
    filter: grayscale(0%);
  }

  .fullscreen-caption {
    display: none; /* Hide caption on mobile */
  }

  /* New animation keyframes for sliding */
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Updated styles for photo grid items */
  .photo-item {
    animation: slideIn 0.7s ease forwards;
  }

  .carousel-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    position: relative;
  }

  .carousel-arrow {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 14%;
    z-index: 10;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    right: 0;
  }
}
